<html>
    <head>
        <title>Action Request</title>
    </head>
    <body>
        <form method="POST">
            request id: <input type="text" name="requestId"/>
            <input type="submit" title="submit" />
        </form>
    </body>
</html>