<html>
    <head>
        <title>Remove Group</title>
    </head>
    <body>
        <form method="POST">
            group id: <input type="text" name="groupId"/>
            <input type="submit" title="submit" />
        </form>
    </body>
</html>