<html>
    <head>
        <title> Join request </title>
    </head>
    <body>
        <form method="POST">
            fb_id: <input type="text" name="fb_id"/>
            name: <input type="text" name="name"/>
            from: <input type="text" name="from"/>
            to: <input type="text" name="to"/>
            time: <input type="text" name="time"/>
            <input type="submit" title="Submit" />
        </form>
    </body>
</html>